@import url('https://fonts.cdnfonts.com/css/pinky-unicorn');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
  font-family: 'Pinky Unicorn', sans-serif;
  background-image: url("../public/assets/images/webp/body-bg-image.webp") !important;
  background-size: cover;
}

html,
body {
  scroll-behavior: smooth !important;
}

.main-heading {
  -webkit-text-stroke: 1px black;
}

.text-border {
  -webkit-text-stroke: 0.27px black;
}

.text-gradient {
    background: linear-gradient(100.7deg, #B62AFF -82.68%, #FF0DF2 143.2%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.border-linear-gradient {
  background: linear-gradient(100.7deg, #B62AFF -82.68%, #FF0DF2 143.2%);
}

.linear-border {
  position: relative;
  padding: 0 32px 20px 32px;
  border-radius: 25px;
  background: #fff;
}

.linear-border:before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 25px;
  background: linear-gradient(100.7deg, rgba(182, 42, 255, 0.8) -82.68%, rgba(255, 13, 242, 0.8) 143.2%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.swal-button--danger:focus {
  box-shadow: none !important;
}

.rainbow-border {
  border: 6px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@keyframes moveCloud {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.cloud-animation {
  animation: moveCloud 10s linear infinite;
}

@keyframes moveCloudRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.cloud-animation-right {
  animation: moveCloudRight 10s linear infinite;
}

@keyframes floatStar {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.star-animation {
  animation: floatStar 4s ease-in-out infinite;
}

@media(min-width:430px) {
  .mobile-rainbow {
    height: 510px !important;
  }
}

@media(min-width:530px) {
  .mobile-rainbow {
    height: 470px !important;
  }
}

@media (min-width:1200px) {
  .linear-border {
    padding: 0 56px 20px 56px;
  }
}